.head {
    background: #2E2D3C;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.head .name {
    font-size: 65px;
    margin: 10px 0 30px 0;
}

.head .title {
    font-size: 41px;
    font-weight: 300;
}

.head .desc {
    margin-top: 10px;
    color: #c9c9c9;
}

.head .fun {
    margin-top: 40px;
}
button.mbtn {
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    background: transparent;
    border-radius: 3px;
    color: white;

    transition-duration: 200ms;
}

button.mbtn.mbtn-big {
    font-size: 27px;
    padding: 20px 55px;
}
button.mbtn .icon,
button.mbtn .span {
    vertical-align: middle;
    line-height: 30px;
    overflow: hidden;
}

button.mbtn:hover {
    background: white;
    color: #2E2D3C;
}
button.mbtn:active {
    text-decoration: underline;
}

button.mbtn.mbtn-small {
    font-size: 14px;
    padding: 5px 10px;
}

.head .info{
    margin-top: 15px;
}

.body {
    padding: 10px;
    text-align: center;
    background-color: #f5f5f5;
}

.mcard {
    width: 270px;
    margin: 10px;
    vertical-align: top;
    text-align: left;
}

.mcard .layui-card-body {
    height: 120px;
}

.d-inline {
    display: inline-block;
}

.preview {
    text-align: center;
    margin-top: 50px;
}
.doc {
    text-align: center;
}
.reason .title,
.doc .title,
.preview .title {
    margin: 40px 0 20px 0;
    font-size: 25px;
}

.preview .img img{
    width: 900px;
}

.foot {
    text-align: center;
    padding: 20px;
}

.usenow {
    font-size: 23px;
    border-radius: 3px;
    display: inline-block;
    padding: 20px 40px;
    background-color: #1E9FFF;
    color: white;
}