/*
layui 下拉框控件的css。
作者: Microanswer
*/
/* 加载就绪标志 */
html #layuicss-dropdown_css{display:none; position: absolute; width:1989px;}
.dropdown-root {
    position: fixed;
    outline: none;
}

.dropdown-pointer {
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAgBAMAAABQs2O3AAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABVQTFRFAAAAgICAgICAgICAhISE8PDw////jUnEegAAAAd0Uk5TAB/2/////74r3wgAAACOSURBVHicfcztDYAgDEVR2MCwgXEDwwbGDYwbyP4jyJfYlvbdvzc5zrH8ti8OFeKxou+384JEiPeDiAykhIgMpASICiCiAoDogE10wCQGYBEDMAgC6AQBVIIBGsEAhRDATAhgIiZAEhMgCAXghAIwQgUooQKEMICfMIBBmMBHmEAnANAIADQCAYVwCCjEC5fhzAE36RUGAAAAAElFTkSuQmCC") no-repeat bottom center;
    background-size: 100% 50%;
    -webkit-transform-origin: center center;
       -moz-transform-origin: center center;
        -ms-transform-origin: center center;
         -o-transform-origin: center center;
            transform-origin: center center;
}
.dropdown-pointer.bottom {
    -webkit-transform: rotate(-180deg);
       -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
         -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
}

.dropdown-root .dropdown-content {
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #a9a9a9;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: scrollbar;
}

.dropdown-root .dropdown-content table {
    border: none;
}

.dropdown-root .dropdown-content table th{
    padding: 0;
    overflow: hidden;
}
.dropdown-root .dropdown-content .dropdown-menu-wrap {
    border-right: 1px solid transparent;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-root .dropdown-content .dropdown-menu-fixed-head {
    border-right: 1px solid transparent;
    overflow: hidden;
}
.dropdown-root .dropdown-content .dropdown-menu-fixed-head .menu-fixed-head{

    margin: 6px 10px 2px 10px;
    color: #c2c2c2;
    font-size: 12px;
}
.dropdown-root .dropdown-content .dropdown-menu-fixed-head.menu-splitor,
.dropdown-root .dropdown-content .dropdown-menu-wrap.menu-splitor{border-right:1px solid #e6e6e6;}
.dropdown-root .dropdown-content .dropdown-menu-wrap.overflowauto {overflow-y: auto;overflow-x: hidden}

.dropdown-root .dropdown-content .dropdown-menu-wrap .dropdown-menu{
    /*overflow: hidden;*/
    padding: 0;
    margin: 0;
}


.dropdown-root .dropdown-content .dropdown-menu-wrap .dropdown-menu .menu-item-wrap {
    list-style: none;
    outline: none;
}
.dropdown-root .dropdown-content .dropdown-menu-wrap .dropdown-menu .menu-item-wrap:first-child {
    margin-top: 10px;
}
.dropdown-root .dropdown-content .dropdown-menu-wrap .dropdown-menu .menu-item-wrap.nomargin {
    margin-top: 0 !important;
}
.dropdown-root .dropdown-content .dropdown-menu-wrap .dropdown-menu .menu-item-wrap:last-child {
    margin-bottom: 10px;
}

.dropdown-root .dropdown-content .dropdown-menu-wrap .dropdown-menu .menu-item-wrap .menu-header {
    margin-top: 6px;
}

.dropdown-root .dropdown-content .dropdown-menu-wrap .dropdown-menu .menu-item-wrap .menu-header.withLine{
    margin-left:0;
    margin-bottom: 0;
    margin-right: 0;
}
.dropdown-root .dropdown-content .dropdown-menu-wrap .dropdown-menu .menu-item-wrap .menu-header,
.dropdown-root .dropdown-content .dropdown-menu-wrap .dropdown-menu .menu-item-wrap .menu-header legend{
    font-size: 12px!important;
    line-height: 15px!important;
    padding: 0 10px!important;
    color: #c2c2c2;
}

.dropdown-root .dropdown-content .dropdown-menu-wrap .dropdown-menu .menu-item-wrap .menu-item {
    line-height: 36px;
}
.dropdown-root .dropdown-content .dropdown-menu-wrap .dropdown-menu .menu-item-wrap .menu-item a{
    display: block;
    color: #333;
    padding: 0 20px;
    min-width: 40px;
    text-indent: 0;
    font-size: 14px;

    white-space: nowrap;
}
.dropdown-root .dropdown-content .dropdown-menu-wrap .dropdown-menu .menu-item-wrap .menu-item a:hover{
    color: #000;
    background-color: #f2f2f2;
}
